@using Ze_EntregaWEB.Domain.Models;
@model IEnumerable<Cliente>

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Propriedades de background em CSS - Linha de Código</title>
    <!-- Aqui chamamos o nosso arquivo css externo -->
    <link rel="stylesheet" type="text/css" href="estilo.css" />
</head>
<body style="background-color: red">
    
        <img src="~/Ze_EntregaWeb/Views/Shared/NewFolder/ZeEntregaLogo.png"/>
        @*<img src="~/Ze_EntregaWeb/Ze_EntregaWeb/Views/Shared/NewFolder/"/>*@
 
</body>
</html>