@using Ze_EntregaWEB.Domain.Models;
@model IEnumerable<Cliente>

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Propriedades de background em CSS - Linha de Código</title>
    <!-- Aqui chamamos o nosso arquivo css externo -->
    <link rel="stylesheet" type="text/css" href="estilo.css" />
</head>
<body style="background-color: red">
    
        <img src="~/Images/ZeEntregaLogo.png" style="margin-top: 50px"/>

        <h2 style="margin-left: 600px; margin-top: -400px; font-family: 'Arial Rounded MT'"><b>Entre em nosso catálogo das mais diversas opções para você!</b></h2>

        <input type="text" id="inputEmail" style="margin-left: 700px; text-align: center; margin-top: 20px; border-radius: 20px; border-color: black; border-block-color: black; background-color: red; width: 300px" placeholder="informe o email" />
        <input type="text" id="inputSenha" style="margin-left: 700px; text-align: center; margin-top: 20px; border-radius: 20px; border-color: black; border-block-color: black; background-color: red; width: 300px" placeholder="informe a senha" />
        <input type="button" value="ENTRAR" id="btnLogar" class="btn-danger"  style="margin-left: 790px; text-align: center; margin-top: 20px; border-radius: 5px; width: 100px" />
        <br />
        


        @*<img src="~/Ze_EntregaWeb/Ze_EntregaWeb/Views/Shared/NewFolder/"/>*@
 
</body>
</html>